*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #F5F6F6;
}
.cabecera {
    position: relative;
    width: 100%;
    height: 8vw;
    background-color: #0D478B;
}
.logotipo {
    display: flex;
    position: relative;
    left: 2%;
    width: 8%;
    height: 8vw;  
}

.icono_inicio_sesion {
    display: flex;
    position:  relative; bottom: 85%; left: 94%;
    width: 4%;
    height: 3vw;
}

.redes_sociales{
    display: flex;
    position: relative; bottom: 106%; left: 26%;
    width: 14%;
    height: 3vw;
}

.linea_blanca {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 1vw;
}

.fondo_menu{
    font-family: 'ABeeZee';
    position:relative;
    background-color:#03989E ;
    width: 100%;
    height: 11vw;
}
.titulo{
    font-family: "ABeeZee", sans-serif;
    font-size:250%;
    color: #FFFFFF;
    position: relative; top: 14%;
    text-align: center;
    width: 100%;
    height: 9vw;
}

.menu{
    font-family: "ABeeZee", sans-serif;
    display:inline-flex;
    list-style-type: none;
    font-size: 1vw;
    gap: 6%;
    position:relative;
    color: #FFFFFF;
    width: 58%; 
    height: 2vw;
    float: right;
    bottom: 20%;
    padding-left: 13vw;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li{
    list-style-type: none;
    
   
}

.logo_inicio{
    display: flex;
    position: relative; width: 2%; height: 2vw;
    bottom: 6%;
    left: 2%;
}

.banner{
    width: 100%;
    
    height: 100vh;
    background-image: url(Imagen\ de\ fondo\ 3.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
}

.parrafo{
    padding-top: 15%;
    margin-left: 60%;
    width: 40%;
    height: auto;
    text-align: center;
    
}



.parrafo h2{
    font-size: 4vw;
    font-family: "ABeeZee", sans-serif;
    padding-bottom: 6%;
}

.parrafo p{
    font-size: 2vw;
    font-family: "ABeeZee", sans-serif;

}

.parrafo img{
    padding-top: 15%;
}
span{
    color: red;
}

.ofertas{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    
}




.productos{
    display: flex;
    font-family: "ABeeZee", sans-serif;
    width: 100%;
    height: 80vh;
    
}

.producto_1{
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 24%;
    height: 71vh;
}

.producto_1 h3{
    margin-left: 3%;
    margin-top: 10%;
}

.producto_1 p{
    margin-left: 2%;
    margin-top: 5%;

}

.img_producto{
    margin-left: 18%;
    width: 67%;
    height: 39vh;
}

.agregar_al_carrito img{
    margin-top: 5%;
    width: 100%;
    height: 8vh;
}

.cantidad_compras{
    background-color: #1087C9;
    width: 100%;
    height: 8vh;
   display: flex; 
}
.cantidad_compras h4{
    margin: 6%;
}
.cantidad{
    margin-top: 6%;
    width: 10%;
    height: 3vh;
}

.comprar{
    text-decoration: none;
    color: #000000;
    margin-top: 5%;
    margin-left: 10%;
}






.pie_de_pagina{ 
    background-color: #0D478B;
    position: relative;
    width: 100%;
    height: 23vw;
    
}
.menu_pie{ position: relative; left: 1%;
        width: 17%;
        height: 23vw;
        text-align: center;
        line-height: 2.0;

}
.inicio_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
}

.servicios_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
}

.productos_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
    
}

.promocion_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
    
}

.informacion_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF; 
}

.redes_pie{ 
    display: flex;
    text-align: center;
    position: relative; bottom: 81%; left: 25%;
    width: 24%;
    height: 5vw;
        
}

.politicas{
    position: relative; bottom: 70%; left: 27%;
    width: 21%;
    height: 3vw;
    font-size: 2vw;
    color: #FFFFFF;

}


.datos{
    
    display: flex;
    font-size: 2vw;
    position: relative; bottom: 30vw; left: 52vw;
    width: 44%;
    height: 86%;
    text-align: justify;
    line-height: 1.8;
    text-align: left;
    color: #FFFFFF;

}



