* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"ABeeZee", sans-serif;

   
}

header{
display: flex;
flex: auto;
justify-content: space-between;
background-color: #0D478B;
width: 100%;
height: 15vh;
}

.logo{
display: flex;
width: 8em;
height:auto;
}

.redes_sociales{
display: flex;
width: 50%;
height: auto;
align-items:center ;
    
}

.redes_sociales img{
width: auto;
height: 3rem;
}

.Iniciar_sesion{
    display: flex;
    display: inline-block;
    flex-direction: column;
    padding-top: 0.5vw;
    padding-right: 3%;
    align-items: center;
    width: auto;
    height: auto;
    
}

.Iniciar_sesion img{
    width: auto;
    height: auto;
    margin-bottom: 6px;
    cursor: pointer;
    padding-left: 13%;
        
}

.inicio_registrate{
    display: none;
    background-color: #ffffff;
    width: 15em;
    height: 6vh;
    font-size: 9px;
    border: 1px solid #000000;
}

.inicio_registrate a{
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    color: #000000;
}

.inicio_registrate hr{
    width: auto;
    height: 1px;
    background-color: #000000;
}

.Iniciar_sesion:hover .inicio_registrate{
    display: block;
}


iframe{
    z-index: 999999;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}

.linea_blanca {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 20px;
}

.fondo_menu{
    font-family: 'ABeeZee';
    position:relative;
    background-color:#03989E ;
    width: 100%;
    height: 25vh;
}
.titulo{
    font-family: "ABeeZee", sans-serif;
    font-size:250%;
    color: #FFFFFF;
    position: absolute; top: 14%;
    text-align: center;
    width: 100%;
    height: 9vw;
}

.menu{
    font-family: "ABeeZee", sans-serif;
    display:inline-flex;
    font-size: 1.5vw;
    gap: 2vw;
    position:absolute;
    color: #FFFFFF;
    width: 91%; 
    height: 3vh;
    bottom: 13%;
    padding-left: 33em;
    margin-right: 5vw;
}

a{
    text-decoration: none;
    color: #ffffff;
}

li{
    list-style-type: none;
    
    
}



.logo_inicio{
    position: absolute; 
    width: 2%; 
    height: 2vw; 
    top: 18vh;
    left: 2vw;
}
.slider{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    width: 300%;
    animation: slide 10s infinite alternate ease-in-out;
     
}

.slider li{
    list-style: none;
    width: 100%;

}

.slider img{
    width: 100%;

}

@keyframes slide {
 0% { margin-left: 0%;}
 20% { margin-left: 0%;}
 40% { margin-left: -100%;}
 60% { margin-left: -100%;}
 80% { margin-left: -200%;}
 100% { margin-left: -200%;}
 
}

.servicios{
    font-family: "ABeeZee", sans-serif;
    display: flex;
    background-color: #F5F6F6;
    width: 100%;
    height: auto;
    padding-top: 2%;
}
.linea_negra{
    background-color: black;
    height: 2px;
}
 /*veterinaria/*/
.veterinaria{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: justify;
    margin: 2%;
    width: 34%;
    height: auto;
    margin-left: 10%;
}

.veterinaria h3{
    color: #004AAD;
    text-align: center;
    margin-top: 2%; 
    font-size: 230%;
}

p{
    margin: 5%;
    font-size: 150%;
    
}

.veterinaria img{
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-left: 23%;
    margin-bottom: 7%; 
}

 /*sesion guarderia/*/
.guarderia{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: justify;
    margin: 2%;
    width: 34%;
    height: auto;
    margin-left: 9%;
    
}

.guarderia img{
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-left: 23%;
    margin-top: 6%;
}
.guarderia h3{
    color: #004AAD;
    text-align: center;
    margin-top: 2%;
    font-size: 230%;  
}

 /*sesion peluqueria/*/
.peluqueria{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: justify;
    margin: 2%;
    width: 34%;
    height: auto;
    margin-left: 9%;
    
}

.peluqueria img{
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-left: 23%;
    margin-bottom: 3%;
}
.peluqueria h3{
    color: #004AAD;
    text-align: center;
    margin-top: 2%;
    font-size: 230%;  
}

 /*Sesion de spa/*/
.spa{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: justify;
    margin: 2%;
    width: 34%;
    height: auto;
    margin-left: 9%;
    
}

.spa img{
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-left: 23%;
    margin-top: 4%;
}

.spa h3{
    color: #004AAD;
    text-align: center;
    margin-top: 2%;
    font-size: 230%;  
}



/*pie de pagina/*/
.pie_de_pagina{ 
    background-color: #0D478B;
    position: relative;
    width: 100%;
    height: 23vw;
        
}


.menu_pie{ position: relative; left: 1%;
    width: 17%;
    height: 23vw;
    text-align: center;
    line-height: 2.0;

}
.inicio_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
}

.servicios_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
}

.productos_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
    
}

.promocion_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
    
}

.informacion_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF; 
}

.redes_pie{ 
    display: flex;
    text-align: center;
    position: relative; bottom: 81%; left: 25%;
    width: 24%;
    height: 5vw;      
}

.politicas{
    position: relative; bottom: 70%; left: 27%;
    width: 21%;
    height: 3vw;
    font-size: 2vw;
    color: #FFFFFF;

}


.datos{
    
    display: flex;
    font-size: 2vw;
    position: relative; bottom: 30vw; left: 52vw;
    width: 44%;
    height: 86%;
    text-align: justify;
    line-height: 1.8;
    text-align: left;
    color: #FFFFFF;

}




 /*ADAPTACION PARA TABLE*/
 @media  (max-width:820px )  {

    .fondo_menu{
        font-family: 'ABeeZee';
        position:relative;
        background-color:#03989E ;
        width: 100%;
        height: 16vh;
    }

    .titulo{
        font-family: "ABeeZee", sans-serif;
        font-size:200%;
        color: #FFFFFF;
        position: relative; top: 2.5vh;
        text-align: center;
        width: 100%;
        height: 9vh;
    }
    
    .menu{
        font-family: "ABeeZee", sans-serif;
        display:inline-flex;
        font-size: 2.8vw;
        gap: 2.3vw;
        position:absolute;
        color: #FFFFFF;
        width: 91%; 
        height: 2vh;
        bottom: 10%;
        padding-left: 6em;
        margin-right: 3vw;
    }

    a{
        text-decoration: none;
        color: #ffffff;
    }

    li{
        list-style-type: none;
        
       
    }

    .logo_inicio{
        position: absolute; 
        width: auto; 
        height: auto; 
        top: 11vh;
        left: 2vw;
    }

    /* SESION DE SERVISIOS*/
    .servicios{
        font-family: "ABeeZee", sans-serif;
        display: flex;
        background-color: #F5F6F6;
        width: 100%;
        height: auto;
        padding-top: 2%;
    }
    .linea_negra{
        background-color: black;
        height: 2px;
    }
     /*veterinaria/*/
    .veterinaria{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        text-align: justify;
        margin: 2%;
        width: 45%;
        height: auto;
        margin-left: 10%;
    }
    
    .veterinaria h3{
        color: #004AAD;
        text-align: center;
        margin-top: 2%; 
        font-size: 200%;
    }
    
    p{
        margin: 5%;
        font-size: 120%;
        
    }
    
    .veterinaria img{
        display: flex;
        flex-direction: column;
        width: 17vw;
        margin-left: 23%;
        margin-bottom: 7%; 
    }
    
     /*sesion guarderia/*/
    .guarderia{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        text-align: justify;
        margin: 2%;
        width: 45%;
        height: auto;
        margin-left: 9%;
        
    }
    
    .guarderia img{
        display: flex;
        flex-direction: column;
        width: 17vw;
        margin-left: 25%;
        margin-top: 14%;
    }
    .guarderia h3{
        color: #004AAD;
        text-align: center;
        margin-top: 2%;
        font-size: 200%;  
    }
    
     /*sesion peluqueria/*/
    .peluqueria{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        text-align: justify;
        margin: 2%;
        width: 34%;
        height: auto;
        margin-left: 9%;
        
    }
    
    .peluqueria img{
        display: flex;
        flex-direction: column;
        width: 17vw;
        margin-left: 23%;
        margin-bottom: 3%;
    }
    .peluqueria h3{
        color: #004AAD;
        text-align: center;
        margin-top: 2%;
        font-size: 230%;  
    }
    
     /*Sesion de spa/*/
    .spa{
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        text-align: justify;
        margin: 2%;
        width: 34%;
        height: auto;
        margin-left: 9%;
        
    }
    
    .spa img{
        display: flex;
        flex-direction: column;
        width: 17vw;
        margin-left: 23%;
        margin-top: 4%;
    }
    
    .spa h3{
        color: #004AAD;
        text-align: center;
        margin-top: 2%;
        font-size: 230%;  
    }


    




}
