@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.cabecera {
    width: 100%;
    height: 8vw;
    background-color: #0D478B;
}
.logotipo {
    display: flex;
    position: relative;
    left: 2%;
    width: 8%;
    height: 8vw;  
}

.icono_inicio_sesion {
    display: flex;
    position:  relative; bottom: 85%; left: 94%;
    width: 4%;
    height: 3vw;
}

.redes_sociales{
    display: flex;
    position: relative; bottom: 106%; left: 26%;
    width: 14%;
    height: 3vw;
}

.linea_blanca {
    display: flex;
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 1vw;
}


.fondo_menu{
    font-family: 'ABeeZee';
    position:relative;
    background-color:#03989E ;
    width: 100%;
    height: 11vw;
}
.titulo{
    font-family: "ABeeZee", sans-serif;
    font-size:250%;
    color: #FFFFFF;
    position: relative; top: 14%;
    text-align: center;
    width: 100%;
    height: 9vw;
}

.menu{
    font-family: "ABeeZee", sans-serif;
    display:inline-flex;
    list-style-type: none;
    font-size: 1vw;
    gap: 6%;
    position:relative;
    color: #FFFFFF;
    width: 58%; 
    height: 2vw;
    float: right;
    bottom: 20%;
    padding-left: 13vw;
}
.logo_inicio{
    display: flex;
    position: relative; width: 2%; height: 2vw;
    bottom: 6%;
    left: 2%;
}
.quienes_somos{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height:auto;
    
}
.subtitulo{
    position: relative;
    text-align: center;
    font-size: 3vw;
    top: 2vw;
}

.parrafo{
    display: flex;
    position: relative; top: 9%;
    font-size: 2vw;
    text-align: justify;
    margin: 4%;
}

.img_perros_gatos{
    display: flex;
    position: relative;
    width: 98%;
    height: auto;
    margin: 1%;
}

.contenedor_mision{
    width: 100%;
    height: auto;
}
.mision{
    width: 50%;
    height: auto;
}
.titulo_mision{
    text-align: center;
    font-size: 4vw;
}
.parrafo_mision{
    text-align: justify;
    margin: 4%;
    font-size: 2vw;
}

.img_mision{
    margin: 5%;
    position: relative; bottom: 32vw; left: 0%;
    width: 39%;
    height: auto;
    float:right  

}

.contenedor_vision{
    position: relative;
    width: 100%;
    height: 42vw;
}
.vision{
    position: relative;
    width: 47%;
    height: auto;
    left: 50%;
    margin: 3%;
    
    
}
.titulo_vision{
    text-align: center;
    font-size: 4vw;
}
.parrafo_vision{
    text-align: justify;
    margin: 3%;
    font-size: 2vw;
}

.img_vision{
    margin: 3%;
    position: relative; bottom: 30vw; left: 2%;
    width: 39%;
    height: auto;

}

.pie_de_pagina{ 
    background-color: #0D478B;
    position: relative;
    width: 100%;
    height: 23vw;
    
}
.menu_pie{ position: relative; left: 1%;
    width: 17%;
    height: 23vw;
    text-align: center;
    line-height: 2.0;

}
.inicio_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
}

.servicios_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
}

.productos_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
    
}

.promocion_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF;
    
}

.informacion_pie{
    position: relative; top: 6%; left: 5%;
    font-size: 2VW;
    color: #FFFFFF; 
}

.redes_pie{ 
    display: flex;
    text-align: center;
    position: relative; bottom: 81%; left: 25%;
    width: 24%;
    height: 5vw;
        
}

.politicas{
    position: relative; bottom: 70%; left: 27%;
    width: 21%;
    height: 3vw;
    font-size: 2vw;
    color: #FFFFFF;

}



.datos{
    
    display: flex;
    font-size: 2vw;
    position: relative; bottom: 30vw; left: 52vw;
    width: 44%;
    height: 86%;
    text-align: justify;
    line-height: 1.8;
    text-align: left;
    color: #FFFFFF;

}
